body {
  background-color: #ECF1EF;
}

.main {
  width: 800;
  background: #CCCCCC;
  padding: 25;
  margin: 10;
  margin-bottom: 50;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 45;
  font-family: sans-serif;
  text-align: center;
  margin: 25;
  margin-left: auto;
  margin-right: auto;
}

.titlepics {
  background-color: #888888;
  padding: 10;
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  background-color:  #CCDD55;
  padding:  1 3 1 3;
}

.pics {
  background-color: #888888;
  padding: 10;
  width: 270;
  margin: 0 0 25 25;
  border: 0;
  float: right;
  clear: right;
}


.endpics {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.endpics img {
  background-color: #888888;
  padding: 10;
  width: 320;
  height: 230;
  margin: 25;
  border: 0;
}

.sectitle {
  font-size: 20;
  font-weight: bold;
  font-family: sans-serif;
  padding:  15;
  padding-bottom: 10;
  margin-bottom:15;
  background-color: #888888;
}

.ensureclear {
  clear:  both;
}

a:link {
    color:blue;
    text-decoration:none;
}  

a:visited {
    color:blue;
    text-decoration:none;
}  

a:hover {
    color:red;
    text-decoration:underline;
}  

a:active {
    color:red;
    text-decoration:underline;
}  

li {
  //background-color:  #AAAAAA;
  margin-top: 10;
  margin-bottom: 40;
}

ul.skinny li{
  margin: 3;
}


